PRIMARY_API_KEY=
PRIMARY_API_SECRET=
PRIMARY_TECH_USERNAME=
PRIMARY_TECH_PASSWORD=

EXOGENOUS_USERNAME=""
EXOGENOUS_PASSWORD=""
EXOGENOUS_ENDPOINT_URL=
EXOGENOUS_TOKEN_URL=
EXOGENOUS_TRAFO_ID=
EXOGENOUS_CLIENT_ID=
EXOGENOUS_SOURCES=

ENTSOE_API_KEY=
